.currency.pull-left {    display: none; }

.box-category .heading img {display:none;}

/* hotline html*/
.box_support1{
width: 240px;
background: #fff;
height: 350px;
border: 2px solid rgb(66, 24, 10);
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
-webkit-box-shadow: rgb(100, 100, 100) 1px 1px 10px;
box-shadow: rgb(100, 100, 100) 1px 1px 10px;
float: right;
position: fixed;
top: 20%;
z-index: 99;
right: -240px;
-webkit-transition: right 0.5s;
    transition: right 0.5s;
}

.box_support1 .title_support1 {
  position: relative;
  color: rgb(67, 25, 13);
  border: 2px solid rgb(66, 24, 10);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: rgb(100, 100, 100) 1px 1px 10px;
  box-shadow: rgb(100, 100, 100) 1px 1px 10px;
  background-color: rgb(255, 255, 255);
  width: 38px;
  height: 300px;
  top: 22px;
  float: left;
  left: -38px;
}

.box_support1 .title_support1 span {
position: absolute;
text-transform: uppercase;
margin-top: -11px;
top: 50%;
margin-right: 0px;
left: -30px;
font-size: 22px;

-webkit-transform: rotate(270deg);
-webkit-transform-origin: 50% 50%;
-moz-transform: rotate(270deg);
-moz-transform-origin: 50% 50%;
-o-transform: rotate(270deg);
-o-transform-origin: 50% 50%;
-ms-transform: rotate(270deg);
-ms-transform-origin: 50% 50%;
transform: rotate(270deg);
transform-origin: 50% 50%;
cursor: pointer;
}


ul.list_support1 {padding: 10px;}

ul.list_support1 li {display: block;margin: 5px 0px;    text-align: left;}

ul.list_support1 li span {display: block;font-weight: bold;color: #45190C; display: block;
    font-size: 12px;}

.show1 {right:0;}


/* end hotline html */
